head{
  background-color: black;
  font: white;
  font-family: HelveticaNeue-Light;
}

body{
  background-color: black;
  text-align: center;
  font-family: HelveticaNeue-Light;
  font-weight: 300;
}

input {
      border:0;
      padding:10px;
      font-size:18px;
    }
img{
  width: 100px;
  padding-left: 10px;
  margin: 40px 40px 40px 40px;
}

p {
  text-align: center;
  font-size:23px;
}

h1 {
  font-size: 70px;
}


.navbar{
  position:relative;
  margin-left: -10px;
  margin-right:-10px;
  background-color:black;
  border:thick;
  border-width: thick;
  border-color: #ff6680;
  display:inline;
  font-size:200%;
 }
.navbar a{
  color: white;
  padding-right: 60px;
}
.dropbtn{
  display:inherit;
  font-size: inherit;
  border: none;
  font-family:inherit;
  cursor:pointer;
  color:#FF00FF;
}
.dropdown {
  position:relative;
  display:inherit;
  color:inherit;
  border: thick;
  border-color: white;
}
.dropdown .dropbtn {
    color: inherit;
    font-size:inherit;
    display:inherit;
    background-color: inherit;
}
.dropdown-content {
    display: none;
    position:absolute;
    right:0;
    background-color: black;
    width:100%;
    box-shadow: 0px 8px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float:left;
    color: white;
    padding: 2px 0px;
    text-decoration: none;
    display: block;
    text-align:justify-content:
    line-height:1.5;
}
.dropdown-content a:hover {
    background-color: #ff6680;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ff6680;
}
.navbar input[type=text]{
  float: right;
  display: inline-block;
  padding: 10px;
  margin-top: 8px;
  margin-right: 70px;
  background-color: #ff6680;
  font-size: 50%;
}
.landing{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  width: 25%;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.media {
  padding: 10px 10px 10px 10px;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
main{
  background-color: #ff6680;
  color: white;
  float: left;
  margin-top: 40px;
  padding-right: 80px;
  padding-left: 30px;
  width: 80%;
}
aside{
  float: right;
  padding-left: 20px;
  width: 20%;
  color: white;
  background-color: #ff6680;
}
footer{
  color: white;
  position: relative;top: 1000px;right: 600px;
}
